footer
    width 100%
    background-color: #ececec;
    margin-top 88px
    .our_footer
        display flex
        flex-wrap wrap
        .footer-contact
            width 100%
            margin-top 53px
            display flex
            justify-content space-between
            a  
                display inline-block
                vertical-align middle
                img
                    width 199
                    height 28px
            ul 
                padding 0
                margin 0               
                li
                    display inline-block
                    vertical-align middle    
                    margin-left 112px
                    margin-right 1px
                    .call-me_footer
                        display inline-block
                        margin-top -24px
                        color #323232
                        font-family font
                        font-size 14px
                        font-weight 500
                        letter-spacing: 0.35px
                        position relative
                        &:before
                            content ''
                            background url(../img/footer/footer-phone.png) no-repeat
                            position absolute
                            width 21px
                            height 30px
                            left -28px
                            top -1px

                    p
                        color #323232
                        font-family font
                        font-size 12px
                        font-weight 400
                        line-height 18px
                        /* Text style for "Московская" */
                        letter-spacing 0.3px
                        position relative
                    .footer-clock
                        &:before
                            content ''
                            background url(../img/footer/footer-clock.png) no-repeat
                            position absolute
                            width 29px
                            height 30px
                            left -31px
                            top -2px
                    .footer-geo  
                        &:before
                            content ''
                            background url(../img/footer/footer-marker.png) no-repeat
                            position absolute
                            width 29px
                            height 30px
                            left -30px
                            top 2px
        .footer-menu
            margin-top 21px 
            margin-right 63px
            h4
                color #323232
                font-family font
                font-size 12px
                font-weight 600
                letter-spacing 0.3px
            ul  
                margin 0
                padding 0
                li
                    list-style-type none
                    a
                        color #323232
                        font-family font
                        font-size 12px
                        font-weight 400
        .footer-catalog-2
            margin-top 49px
            margin-left -5px
            
    .footer-callback
        display flex
        flex-direction column
        margin-top 46px
        margin-left 69px
        width 262px
        form
            position relative
            label
                color #323232
                font-family font
                font-size 12px
                font-weight 400
                line-height 20.4px
            input[type=email]
                border none
                background-color: #ececec;
                border-bottom 1px solid #323232;
                width 100% 
                color #555555
                font-family Montserrat
                font-size 12px
                font-weight 400
                line-height 20.4px
            &:after
                content ''
                background url(../img/footer/scend.png) no-repeat
                position absolute
                width 29px
                height 30px
                right -6px
                top 35px
        h4 
            margin-top 51px
            color #323232
            font-family Montserrat
            font-size 12px
            font-weight 400
            line-height 20.4px        
        li
            display inline-block

            a
                font 0/0 serif
                text-shadow none
                color transparent
                position relative
        .vk
            &:before
                content ''
                background url(../img/footer/vk.png) no-repeat
                position absolute
                width 29px
                height 30px
                right 9px
                top -12px
        .facebook
            &:before
                content ''
                background url(../img/footer/fb.png) no-repeat
                position absolute
                width 29px
                height 30px
                right -32px
                top -12px
        .ok
            &:before
                content ''
                background url(../img/footer/ok.png) no-repeat
                position absolute
                width 29px
                height 30px
                right -76px
                top -12px
        .insta
            &:before
                content ''
                background url(../img/footer/inst.png) no-repeat
                position absolute
                width 29px
                height 30px
                right -117px
                top -12px
        .google
            &:after
                content ''
                background url(../img/footer/googlr.png) no-repeat
                position absolute
                width 29px
                height 30px
                right -161px
                top -12px
        .twitter
            &:after
                content ''
                background url(../img/footer/twitter.png) no-repeat
                position absolute
                width 29px
                height 30px
                right -202px
                top -12px
    .footer-copy
        width 100%
        text-align center
        margin-top 46px
        margin-bottom 20px
        p   
            color #323232
            font-family Montserrat
            font-size 12px
            font-weight 500
            line-height 17px
            letter-spacing 0.3px
            a 
                color #1d521a



            
        

