.main-header_navigation
    margin 122px 0 0 0
    display flex
    justify-content center
    .wrapper
        margin 0 -20px
        width 1170px
        ul           
            padding 0
            display flex
            flex-wrap wrap
            li
                margin 0
                padding 0
                list-style-type none                
                margin 0 18px 25px 18px
                width 16.9%
                height 70px
                box-shadow 1px 1px 4px rgba(50, 50, 50, 0.31)
                border 1px solid #ffffff
                background-color #ffffff
                text-align left               
                flex-basis auto
                &:before
                    content ""
                    display inline-block
                    height 100%
                    vertical-align middle
                    content ""                    
                a 
                    display inline-block
                    vertical-align middle
                    margin-left 70px
                    color #1d521a
                    font-family font
                    font-size 12px
                    font-weight 400
                    position relative

                .coniferous
                    &:before
                        content ''
                        position absolute
                        left -70px
                        top -10px
                        width 70px
                        height 70px
                        background url(../img/nav_img/coniferous.png) no-repeat
                .deciduous_trees
                    &:before
                        content ''
                        position absolute
                        left -70px
                        top 1px
                        width 70px
                        height 70px
                        background url(../img/nav_img/deciduous_trees.png) no-repeat
                .deciduous_bush
                    &:before
                        content ''
                        position absolute
                        left -70px
                        top -1px
                        width 70px
                        height 70px
                        background url(../img/nav_img/deciduous_bush.png) no-repeat 
                .fruit_trees
                    &:before
                        content ''
                        position absolute
                        left -70px
                        top -7px
                        width 70px
                        height 35px
                        background url(../img/nav_img/fruit_trees.png) no-repeat
                .fruit_bush
                    &:before
                        content ''
                        position absolute
                        left -70px
                        top 1px
                        width 70px
                        height 35px
                        background url(../img/nav_img/fruit_bush.png) no-repeat
                .old_trees
                    &:before
                        content ''
                        position absolute
                        left -70px
                        top -11px
                        width 70px
                        height 35px
                        background url(../img/nav_img/old_trees.png) no-repeat
                .v_plants
                    &:before
                        content ''
                        position absolute
                        left -61px
                        top -1px
                        width 70px
                        height 35px
                        background url(../img/nav_img/v_plants.png) no-repeat
                .lianes
                    &:before
                        content ''
                        position absolute
                        left -69px
                        top -9px
                        width 70px
                        height 35px
                        background url(../img/nav_img/lianes.png) no-repeat
                .rose
                    &:before
                        content ''
                        position absolute
                        left -69px
                        top -9px
                        width 70px
                        height 35px
                        background url(../img/nav_img/rose.png) no-repeat
                .form_plants
                    &:before
                        content ''
                        position absolute
                        left -69px
                        top 0px
                        width 70px
                        height 35px
                        background url(../img/nav_img/form_plants.png) no-repeat
                .garden_price
                    &:before
                        content ''
                        position absolute
                        left -63px
                        top -9px
                        width 70px
                        height 35px
                        background url(../img/nav_img/garden_price.png) no-repeat
                .soil_fertilizers
                    &:before
                        content ''
                        position absolute
                        left -68px
                        top 0px
                        width 70px
                        height 35px
                        background url(../img/nav_img/soil_fertilizers.png) no-repeat
                .woater_plants
                     &:before
                        content ''
                        position absolute
                        left -56px
                        top -14px
                        width 70px
                        height 35px
                        background url(../img/nav_img/woater_plants.png) no-repeat
                .gift_certificates
                    &:before
                        content ''
                        position absolute
                        left -64px
                        top 2px
                        width 70px
                        height 35px
                        background url(../img/nav_img/gift_certificates.png) no-repeat


