.garder-shop
    margin-top 36px
    display flex
    justify-content center
    align-items center
    .article
        width 50%       
        h1 
            color #323232
            font-family font
            font-size 20px
            font-weight 400
            text-transform uppercase 
            margin-bottom 25px
        p 
            color #323232
            font-family font
            font-size 14px
            font-weight 400
            line-height 24px
        .desc_1 
            margin-bottom 27px

        .desc_2
            width 465px
            // margin-top 10px
        .bold
            font-weight 500
            margin-bottom 15px
        a 
            display inline-block
            text-align center
            padding 8px 14px
            color #ffffff
            font-family font
            font-size 12px
            font-weight 500
            letter-spacing 0.3px
            border-radius 4px
            background-color #1d521a
            margin-top 20px
    .garden-shop_img
        width 50%